
    <div class="about-section" id="about">
        <div class="container">
            <h3 class="tittle"> What  we  offer</h3>
            <div class="about-grids">
                <div class="col-md-4 about-grid">
                    <img src='/resources/images/tt2.png' class="img-responsive" alt=""/>
                </div>
                <div class="col-md-8 about-grid1">
                    <div class="about-top">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>Online Booking Service</h4>
                            <p>We offer you booking of your seats online with ease.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top1">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>Cheap Rates</h4>
                            <p>Travel and save your money. Both, at the same time.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top1">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>24/7 Available Facility</h4>
                            <p>Our service will always be there for you, whenever you need it.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="about-top">
                        <div class="about-left">
                            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="about-right">
                            <h4>Travel Classes</h4>
                            <p>Whether its Business class or Economy class, we cover it all.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!--about--->
<div class="featured-services" id="services">
    <div class="container">
        <h3 class="tittle">Our Aptitude</h3>
        <div class="featured-grids">
            <div class="col-md-3 featured-grid">
                <div class="featured-grd">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <h5>Quality</h5>
                    <p>We assure that our customers get the highest quality
                        transport available in Topi at lowest possible costs.</p>
                <!--	<div class="more m2">
                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                    </div>  -->
                </div>
            </div>
            <div class="col-md-3 featured-grid">
                <div class="featured-grd">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <h5>Huge Network</h5>
                    <p>Our already vast network of transport is continuosly expanding and enabling
                        our customers to travel to more cities.</p>
            <!--		<div class="more m2">
                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                    </div>  -->
                </div>
            </div>
            <div class="col-md-3 featured-grid">
                <div class="featured-grd">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <h5>Safety</h5>
                    <p>Safety is our number one priority. We never sacrifice
                        on our customers' well-being and protection.</p>
                <!--	<div class="more m2">
                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                    </div>  -->
                </div>
            </div>
            <div class="col-md-3 featured-grid">
                <div class="featured-grd">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <h5>Timely travel</h5>
                    <p>Unlike local transport facilities, we have proper ticketing
                        system to ensure hassle-free and timely traveling experience.</p>
            <!--		<div class="more m2">
                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                    </div>  -->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--gallery-->
    <div class="gallery" id="tours">
<div class="container">
    <h3 class="tittle">Our Destinations</h3>
    <div class="gallery-grids">
        <section>
            <ul id="da-thumbs" class="da-thumbs">
                <li>
                    <a href="/resources/images/a1.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a1.jpg" alt="" />
                        <div>
                            <h5>Islamabad</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a2.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a2.jpg" alt="" />
                        <div>
                            <h5>Rawalpindi</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a3.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a3.jpg" alt="" />
                        <div>
                            <h5>Lahore</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a4.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a4.jpg" alt="" />
                        <div>
                            <h5>Faisalabad</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a5.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a5.jpg" alt="" />
                        <div>
                            <h5>Peshawar</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a6.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a6.jpg" alt="" />
                        <div>
                            <h5>Multan</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a7.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a7.jpg" alt="" />
                        <div>
                            <h5>Karachi</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a8.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a8.jpg" alt="" />
                        <div>
                            <h5>Abbotabad</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="images/a9.jpg" class="b-link-stripe b-animate-go thickbox">
                        <img src="/resources/images/a9.jpg" alt="" />
                        <div>
                            <h5>Hyderabad</h5>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </section>
    </div>
    <script type="text/javascript" src="/resources/js/jquery.hoverdir.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#da-thumbs > li').each( function() { $(this).hoverdir(); } );
        });
    </script>
</div>
</div>

<!--gallery-->
<!-- team -->
<div class="team" id="guides">
    <div class="container">
        <h3 class="tittle">Our Team</h3>
        <div class="team_gds">
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="/resources/images/t1.jpg"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class="fc1"></i></a>
                        <a href="#"  class="face_one"><i class="fc2"></i></a>
                        <a href="#"  class="face_one"><i class="fc3"></i></a>
                    </div>
                </div>
                <h4>M. Usman Abbasi</h4>
                <p>CEO</p>
            </div>

            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="/resources/images/t3.jpg"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class="fc1"></i></a>
                        <a href="#"  class="face_one"><i class="fc2"></i></a>
                        <a href="#"  class="face_one"><i class="fc3"></i></a>
                    </div>
                </div>
                <h4>Megan Fox</h4>
                <p>Marketing Manager</p>
            </div>
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="/resources/images/t4.jpg"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class="fc1"></i></a>
                        <a href="#"  class="face_one"><i class="fc2"></i></a>
                        <a href="#"  class="face_one"><i class="fc3"></i></a>
                    </div>
                </div>
                <h4>Syed Saadat Hussain</h4>
                <p>CTO and Co-Founder</p>
            </div>
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="/resources/images/t2.jpg"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class="fc1"></i></a>
                        <a href="#"  class="face_one"><i class="fc2"></i></a>
                        <a href="#"  class="face_one"><i class="fc3"></i></a>
                    </div>
                </div>
                <h4>Raheel Jameel</h4>
                <p>Majority Shareholder</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
